.text{
    margin-top: 5px;
}
.box{
    margin-top: 22px;
    margin-bottom: 27px;
    padding: 48px 20px 16px 20px;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    text-align: center;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 38px;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.04);
}
.qty{
    width: 70px;
    font-size: 38px;
    line-height: 51px;
    letter-spacing: -0.41px;
    color: #1A1A1A;
    opacity: 0.9;
}
.total{
    padding-top: 15px;
    border-top: 1px solid #EBEBEB;
}
.totalText{
    color: #000;
}