.text{
    margin-top: 5px;
}
.select{
    max-height: 162px;
    margin: 16px 0;
    overflow-y: auto;
}
@media all and (orientation: landscape){
    .select{
        max-height: 108px;
        margin: 24px 0;
    }
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    border-radius: 8px;
    font-size: 17px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.41px;
    color: #7F7E7E;
}
.selected{
    font-size: 19px;
    line-height: 26px;
    color: #1A1A1A;
    background: #F6F6F6;
    border: 1px solid #EBEBEB;
}