.title{
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.41px;
    color: #1A1A1A;
}
.bolder{
    font-weight: 600;
}
.small{
    font-size: 17px;
    line-height: 23px;
}