html, body{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'SF Pro Text', sans-serif;
}
*{
    box-sizing: border-box;
}
button, input, textarea{
    outline: none;
    padding: 0;
    border: none;
}
.text-primary{
    color: #1A1A1A;
}
.text-medium{
    font-weight: 600;
}